* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    background-color: rgb(189, 189, 189);
}

#app-wrapper {
    display: grid;
    grid-template-rows: 0.7fr 1.2fr 1fr 0.5fr;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
}

#top-panel-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    justify-content: start;
}

.top-panel {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 20px;
    padding: 20px;
    color: rgb(0, 220, 0);
    background-color: black;
    border: 5px solid gray;
    span {
        text-shadow: 0 0 10px rgb(0, 146, 0);
    }
}

#input-wrapper input {
    font-family: monospace;
    text-align: center;
    font-size: 60px;
    height: 30vh;
    width: 40vw;
    border: 10px solid black;
    border-style: inset;
    border-radius: 20px;
}

#input-wrapper span {
    font-size: 70px;
}

#button-wrapper {
    align-self: baseline;
    background-color: rgb(227, 227, 227);
    padding: 30px;
    border-radius: 20px;
}

#button-wrapper button {
    font-size: 70px;
    height: 20vh;
    width: 40vw;
    border: 3px solid black;
    border-radius: 20px;
    font-weight: 1000;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#button-wrapper .button-hover:hover {
    /* box-shadow: 0 0 20px black; */
    transform: rotate(-2deg);
    filter: drop-shadow(5px 5px 10px black) brightness(0.8);
}

#print {
    background-color: rgb(255, 0, 0);
    color: white;
}

#reprint {
    background-color: black;
    color: white;
}

#download {
    background-color: green;
    color: white;
    padding: 20px;
    border: solid black 3px;
    border-radius: 20px;
    width: 30vw;
    font-size: 30px;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    font-weight: 700;
    align-self: center;
}
#download:hover {
    filter: brightness(0.8);
}

#modal-wrapper {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    display: grid;
    position: absolute;
    background-color: white;
    height: 30vh;
    width: 40vw;
    top: 100vh;
    left: 50vw;
    transform: translateX(-50%);
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}